#page-landing {
    background: var(--color-primary); 
}

#page-landing #container {
    color: var(--color-text-in-primary);
}

.LogoContainer img{
    height: 10rem;
}
.LogoContainer {
    text-align: center;
    margin-bottom: 3.2rem;
}

.LogoContainer h2 {
    font: 500 3.6rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

.Hero-image {
    width: 100%; 
}

.Buttons-Container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.Buttons-Container a {
    width: 30rem;
    height: 10.4rem;
    border-radius: .8rem;
    margin-right: 1.6rem;
    font: 700 2.4rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-button-text);
    transition: background .2s;
}

.Buttons-Container a img {
    width: 4rem;
    margin-right: 2.4rem;
}

.Buttons-Container a.study {
    background: var(--color-primary-lighter);
}

.Buttons-Container a.study:hover{
    background: var(--color-primary-light);
}

.Buttons-Container a.Give-Classes {
    background: var(--color-secondary);
    margin-right: 0;
}

.Buttons-Container a.Give-Classes:hover{
    background: var(--color-secondary-dark);
}

.total-connections {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-connections img {
    margin-left: .8rem;
}
@media (max-width: 699px){
    :root{
        font-size: 40%; 
    }
}

@media (min-width: 1100px) { 
    #page-landing #container{
        max-width: 1100px;
        display: grid; 
        grid-template-columns: 2fr 1fr 2fr; 
        grid-template-rows: 350px 1fr; 
        grid-template-areas: 
        "proffy image image"
        "button button texting";
        column-gap: 87px;
        row-gap: 86px;
    }

    .LogoContainer{
        grid-area: proffy;
        text-align: initial;
        align-self: center; 
        margin: 0;
    }

    .LogoContainer img {
        height: 127px;
    }

    .Hero-image{
        grid-area: image;
        height: 350px;
    }
    .Buttons-Container{
        grid-area: button;
        justify-content: flex-start; 
        margin: 0;
    }

    .total-connections{
        grid-area: texting; 
        justify-self: end;
        font-size: 1.2rem;
    }
}